html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
	font-family: "Open Sans","Hevetica Neue","Helvetica", sans-serif;
	font-size: 12px;
	font-weight: normal;
}

#header{
	width: 100%;
	min-height: 40px;
	background: #ccc;
}

#content {
	height: 100%;
	width: 100%
	display: inline-block;
}

#footer {
	height: 0%;
}

#editor_wrapper, #preview_wrapper {
	margin: 0;
	position: relative;
	width: 100%;
	height: 90%;
	float: left;
}

#editor_wrapper.CODE {
	width: 100% !important;
}

#preview_wrapper.CODE {
	width: 0% !important;
}

#preview_wrapper.CODE #preview_header {
	display: none;
}

#editor_wrapper.HYBRID {
	width: 49% !important;
	border-right: 2px solid black;
}

#editor_wrapper.RESULT #editor_header{
	display: none;
}

#preview_wrapper.HYBRID {
}

#editor_wrapper.RESULT {
	width: 0% !important;
}

#preview_wrapper.RESULT {
	width: 100% !important;
}

#editor_header, #preview_header {
	width: 100%;
	min-height: 37px;
}

#editor_header {
	background: #ebebeb;
	position: relative;
	
}

#editor_tab_wrapper{
	height: 28px;
	border-bottom: 1px solid black;
}

#editor_tab {
	position: absolute;
	display: block;
	margin-left: 68px;
	margin-top: 3px;
	width: 75px;
	height: 24px;
	border: 1px solid black;
	border-bottom: 1px solid #ebebeb;
	text-align: center;
}

#editor_tab p {
	position: relative;
	margin-top: 1px;
	padding: 4px;
	cursor: pointer;
}

#exercise_wrapper {
	position: relative;
	height: 0;
	font-size: 1.1rem;
	background: #4C4C4C;
	color: white;
	overflow: auto;
	display: none;
}

#exercise_wrapper.open {
	min-height: 50px;
	max-height: 200px;
	height: auto;
	display: block;
}

#exercise_title_wrapper {
	padding: 20px;
	padding-top: 15px;
}

#exercise_title{
	font-size: 1.6rem;
	margin: 0px;
	margin-bottom: 16px;
}

#test_header {
	positon: relative;
	width: 100%;
	display: none;
	min-height: 20px;
	background: #ebebeb;
	padding: 10px 20px 10px 20px;
}

#test_title {
	positon: relative;
	display: "inline-block";
	color: black;
	font-size: 1.2rem;
	color: #969696;
	float: left;
}

#test_menu_wrapper {
	positon: relative;
	display: "inline-block";
	border-radius: 15px;
	border: 1px solid #4C4C4C;
	text-align: center;
	cursor: pointer;
	opacity: 0.5;
	float: left;
	margin-left: 15px;
	margin-top: -3px;
}

#test_menu_wrapper:hover {
	opacity: 1;
}

#test_menu_wrapper p {
	padding: 2px 8px 2px 11px;
	margin: 0px;
	font-size: 1.2rem;
	font-weight: bold;
	color: #969696;
}

#test_exercises_dialog{
	position: relative;
}

#exercise_description{
	padding: 20px;
}

#editor, #preview {
	width: 100%;
}

#preview_wrapper.JavaScript #preview {
	overflow: auto;
}

#preview_wrapper.JavaScript #preview {
	background: black;
	color: white;
}

#preview_wrapper.JavaScript #preview div.js_code_error {
	color: #D00E0E;
}

#preview_wrapper.JavaScript #preview_header {
	background: #353535;
}

#preview_wrapper.JavaScript #preview_header p {
	margin: 0;
	padding: 0;
	padding-top: 8px;
	color: #CBCBCB;
	margin-left: 15px;
	font-size: 1.3rem;
}

#preview_wrapper.HTML #preview {
	overflow: hidden;
}

#preview_wrapper.HTML #preview_header {
	position: relative;
	color: white;
	background: #353535;
	padding: 10px;
	font-size: 1.4rem;
}

ul.menu {
	text-align: right;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	padding-top: 2px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}

ul.menu img {
	max-height: 20px;
	opacity: 0.5;
	margin: 5px 8px 8px 2px;
}

ul.menu img:hover {
	opacity: 1;
	cursor: pointer;
}

ul.menu li.active img {
	opacity: 1 !important;
}

ul.menu li {
	display: inline-block;
}

ul.menu li.first {
	padding-left: 12px;
	border-left: 1px solid #666;
}

ul.menu li.last {
	padding-right: 5px;
	border-right: 1px solid #666;
}

ul.menu li.unique {
	padding-right: 8px;
	margin-left: 10px;
	border-right: 1px solid #666;
}

ul.menu li.withoutLeftBorder {
	border-left: none !important;
}

ul.menu li.withoutRightBorder {
	border-right: none !important;
}

ul.menu li.mitemmode {
	position: absolute;
	left: 5px;
	top: 5px;
	cursor: pointer;
}

ul.menu li#fullscreen_button img#fullscreen_img {
	padding-bottom: 2px
}

ul.menu li[group='exercise'] {
	display: none;
}

ul.menu li[group='examples'] {
	display: none;
}

.cpanel {
	display: none;
	position: absolute;
	top: 40px;
	right: 0;
	width: 50%;
	border: 1px solid black;
	border-right: none;
	z-index: 2;
	background-color: #eee;
	overflow-y: auto !important;
	padding: 10px;
}

.close_panel_button {
	position: absolute;
	top: 5px;
	right: 5px;
	height: 22px;
	cursor: pointer;
}

.cpanel div.title {
	text-align: center;
	font-size: 1.8rem;
	margin-bottom: 15px;
}

.cpanel table td {
	padding: 15px 10px 15px 10px;
}

div.panel_button_wrapper {
	padding: 1px;
	width: 125px;
	text-align: center;
}

div.panel_button_header {
	font-size: 1.3rem;
}

div.panel_button_content {
	cursor: pointer;
	height: 50px;
}

.cpanel select {
	min-width: 275px;
	max-width: 275px;
}


/* Console and output styles */

iframe.iframe_code {
	overflow: auto;
	width: 100%;
	height: 99%;
	border: none;
	margin-top: 10px;
}

iframe.withHTMLconsole {
	margin-bottom: 10px;
}

div.js_code {
	padding: 10px;
	font-size: 1.4rem;
}

div.html_result_wrapper {
	font-size: 1.4rem;
}

div.html_result_header {
	position: relative;
	color: white;
	background: #353535;
	padding: 10px;
}

div.html_result_header p{
	margin: 0px;
}

div.html_resultContent {
	padding: 10px;
	overflow: auto;
}

div#consoleButtons {
	position: absolute;
	top: 0;
	right: 0;
	color: white;
}

div#consoleButtons > * {
	cursor: pointer;
	margin-right: 5px;
	margin-left: 5px;
	height: 19px;
	margin-top: 9px;
}

div.html_result_wrapper {
}

div.result_wrapper {
	background: black;
	color: white;
}

pre {
	max-width: 95%;
	white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
	white-space: -pre-wrap; /* Opera */
	white-space: -o-pre-wrap; /* Opera */
	white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
	word-wrap: break-word;
}

p.separator {
	padding: 0;
	margin: 0;
	height: 20px;
}

pre.passed {
	color: #0BB80D; /* green */
}

pre.failed, pre.errors {
	color: #D00E0E; /*red*/
}

span.overall_score {
	font-weight: bold;
}


/* Output style in JS console */

div.output_header{
	display: inline-block;
	width: auto;
	font-size: 1.3rem;
	padding: 10px;
	margin: 0px;
	border-radius: 10px 10px 0px 0px;
	padding-bottom: 1px;
	background: #202020; /* almost black */
}

div.output_content_wrapper{
	border-radius: 0px 15px 15px 15px;
	padding: 10px 15px 10px 15px;
	font-size: 1.2rem;
	background: #202020;
}

/*Successes style*/

div.successes_wrapper{
	color: #0BB80D;
}

/*Errors style*/

div.errors_wrapper{
	color: #D00E0E;
}

/*Generic Feedback style*/

div.feedback_wrapper{
	color: #D08B0E; /*orange*/
}

img.success_icon, img.error_icon {
	max-height: 15px;
	margin-right: 12px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 10px;
}


/* Dialogs */

.testMenuWrapper .ui-dialog-titlebar-close {
	display: none;
}

.dialog_arrow {
	position: absolute;
	width: 20px;
    height: 20px;
    z-index: 90;
    top: -22px;
}

.arrow_shape::before, .arrow_shape::after {
	z-index: 90;
	content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
}

.arrow_shape::before {
	border-width: 15px;
}

.arrow_shape::after {
	border-width: 10px;
}

.arrow-bottom.arrow_shape::before {
    border-color: black transparent transparent transparent;
    top: 2px;
}

.arrow-bottom.arrow_shape::after {
    border-color: #fff transparent transparent transparent;
    top: 1px;
}

.arrow-top.arrow_shape::before {
	border-color: transparent transparent black transparent;
	top: -8px;
	left: -5px;
}

.arrow-top.arrow_shape:after {
    border-color: transparent transparent #fff transparent;
    top: 2px;
}

.ui-dialog, .ui-dialog {
    overflow:visible;
}

.ui-dialog.ui-widget {
    border: 3px solid black;
}


/* Themes */

body[theme='Twilight'] #editor_wrapper.HYBRID{
	border-right: 2px solid gray;
}

body[theme='Twilight'] #editor_header {
	background: #232323;
}

body[theme='Twilight'] #editor_tab_wrapper {
	border-bottom: 1px solid #A08C8C;
}

body[theme='Twilight'] #editor_tab {
	border: 1px solid #A08C8C;
	border-bottom: 1px solid #232323;
}

body[theme='Twilight'] #editor_tab p {
	color: white;
}