html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
	font-family: "Open Sans","Hevetica Neue","Helvetica", sans-serif;
	font-size: 12px;
	font-weight: normal;
}

#header{
	width: 100%;
	min-height: 40px;
	background: #ccc;
}

#content {
	height: 100%;
	width: 100%
	display: inline-block;
}

#footer {
	height: 0%;
}

.box {
	background-color: #F2F2F2;
	border: 1px solid black;
	color: black;
}

#editor_wrapper, #preview_wrapper {
	margin: 0;
	position: relative;
	width: 100%;
	height: 90%;
	float: left;
}

#editor_wrapper.CODE {
	width: 100% !important;
}

#preview_wrapper.CODE {
	width: 0% !important;
}

#editor_wrapper.HYBRID {
	width: 49% !important;
	border-right: 2px solid black;
}

#preview_wrapper.HYBRID {
	width: 50% !important;
}

#editor_wrapper.RESULT {
	width: 0% !important;
}

#preview_wrapper.RESULT {
	width: 100% !important;
}

#editor_header, #preview_header {
	width: 100%;
	min-height: 37px;
}

#editor_header {
	background: #ebebeb;
	position: relative;
	
}

#editor_tab_wrapper{
	height: 28px;
	border-bottom: 1px solid black;
}

#editor_tab {
	position: absolute;
	display: block;
	margin-left: 68px;
	margin-top: 3px;
	width: 75px;
	height: 24px;
	border: 1px solid black;
	border-bottom: 1px solid #ebebeb;
	text-align: center;
}

#editor_tab p {
	position: relative;
	margin-top: 1px;
	padding: 4px;
	cursor: pointer;
}

#editor, #preview {
	width: 100%;
}

#preview_wrapper.JavaScript #preview {
	background: black;
	color: white;
}

#preview_wrapper.JavaScript #preview div.js_code_error {
	color: red;
}

#preview_wrapper.JavaScript #preview_header {
	background: #696969;
}

#preview_wrapper.JavaScript #preview_header p {
	margin: 0;
	padding: 0;
	padding-top: 5px;
	color: #CBCBCB;
	margin-left: 15px;
	font-size: 1.3rem;
}


ul.menu {
	text-align: right;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	padding-top: 2px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}

ul.menu img {
	max-height: 20px;
	opacity: 0.5;
	margin: 5px 8px 8px 2px;
}

ul.menu img:hover {
	opacity: 1;
	cursor: pointer;
}

ul.menu li.active img {
	opacity: 1 !important;
}

ul.menu li {
	display: inline-block;
}

ul.menu li.first {
	padding-left: 12px;
	border-left: 1px solid #666;
}

ul.menu li.last {
	padding-right: 5px;
	border-right: 1px solid #666;
}

ul.menu li.unique {
	padding-right: 8px;
	margin-left: 10px;
	border-right: 1px solid #666;
}

ul.menu li.withoutLeftBorder {
	border-left: none !important;
}

ul.menu li.withoutRightBorder {
	border-right: none !important;
}

ul.menu li.mitemmode {
	position: absolute;
	left: 5px;
	top: 5px;
	cursor: pointer;
}

ul.menu li#fullscreen_button img#fullscreen_img {
	padding-bottom: 2px
}

#settings_panel {
	display: none;
	position: absolute;
	top: 40px;
	right: 0;
	width: 50%;
	border: 1px solid black;
	border-right: none;
	z-index: 2;
	background-color: #eee;
	overflow-y: auto !important;
	padding: 10px;
}

#closeSettingsButton{
	position: absolute;
	top: 5px;
	right: 5px;
	height: 22px;
	cursor: pointer;
}

#settings_panel div.title {
	text-align: center;
	font-size: 1.8rem;
}

#controls td {
	padding: 15px 10px 15px 10px;
}

iframe.iframe_code {
	overflow: auto;
	width: 100%;
	height: 100%;
	border: none;
}

div.js_code {
	padding: 10px;
	font-size: 1.4rem;
}

div.js_code pre {
	max-width: 95%;
	white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word;
}


/* Themes */

body[theme='Twilight'] #editor_wrapper.HYBRID{
	border-right: 2px solid gray;
}

body[theme='Twilight'] #editor_header {
	background: #232323;
}

body[theme='Twilight'] #editor_tab_wrapper {
	border-bottom: 1px solid #A08C8C;
}

body[theme='Twilight'] #editor_tab {
	border: 1px solid #A08C8C;
	border-bottom: 1px solid #232323;
}

body[theme='Twilight'] #editor_tab p {
	color: white;
}